body {
  font-family: Arial, Helvetica, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.about-section {
  display: flex;
  margin-top: -3px;
  background: #ee9ca7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffdde1,
    #ee9ca7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.yo-vid {
  display: flex;
  align-self: center;
  justify-self: center;
}

.about-section-content {
  color: white;
  font-family: "Philosopher", sans-serif;
  width: 50%;
  font-size: 20px;
}

.philo-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.header > h1 {
  justify-self: center;
  font-family: "Philosopher", sans-serif;
}

.header > p {
  display: flex;
  align-self: center;
  justify-self: center;
  margin-top: 30px;
}

.top-section > h1 {
  justify-self: center;
  font-family: "Philosopher", sans-serif;
}

.h2-text {
  display: flex;
  justify-self: center;
  font-family: "Philosopher", sans-serif;
  align-self: center;
  margin-right: 10px;
  font-weight: 400;
  color: black;
}

.top-ele {
  justify-self: center;
  font-family: "Philosopher", sans-serif;
}

.v1 {
  border-left: thick solid black;
}

.bottom-container > h1 {
  font-family: "Philosopher", sans-serif;
  margin-right: 20px;
  align-self: center;
}

.bottom-container > p {
  font-family: "Philosopher", sans-serif;
  font-size: 45px;
}
.eastern {
  position: relative;
  overflow: hidden;
  width: 50%;
}
.eastern {
  width: 50%;
  word-wrap: break-word;
}
.eastern > h1 {
  font-family: "Philosopher", sans-serif;
}
.western {
  position: relative;
  overflow: hidden;
  width: 50%;
}
.western > h1 {
  font-family: "Philosopher", sans-serif;
  word-wrap: break-word;
}

.picture-holder > img {
  width: 50%;
  margin-top: 20px;
}
